nodered/flow-nodered-tel-u.json
[
    {
        "id": "ba48b833da555eb5",
        "type": "tab",
        "label": "Telkom - SmartClass - old",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cd8839faa474af1e",
        "type": "tab",
        "label": "Tel-U - SmartClass",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7371f30989a437f1",
        "type": "tab",
        "label": "Get Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05ab146697317e78",
        "type": "tab",
        "label": "cron",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5547b35163de4760",
        "type": "mqtt-broker",
        "name": "envisions",
        "broker": "broker.envisionsapp.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ccf2df13876ed890",
        "type": "inject",
        "z": "ba48b833da555eb5",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "766a23365fad24c4",
                "e6e1d01c9fc3c64f"
            ]
        ]
    },
    {
        "id": "766a23365fad24c4",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "config",
        "func": "const api = \"http://localhost:8000\"\nconst company_id = \"TELKOM\"\n\n// const rtsp_url = '0' //webcam\n// const rtsp_url = 'rtsp://admin:pahlawan10@192.168.2.243:554/Streaming/channels/101' //webcam\n// const rtsp_url = 'rtsp://admin:pahlawan10@192.168.3.11:554/Streaming/Channels/101' //imo\n// const rtsp_url = 'rtsp://admin:PZSYCL@192.168.3.242:554/Streaming/Channels/101' //ezviz\n\nglobal.set(\"api\", api)\nglobal.set(\"company_id\", company_id)\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"initiated\"});\n\nreturn msg;\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "e369cfdac1515871",
        "type": "function",
        "z": "ba48b833da555eb5",
        "d": true,
        "name": "class - devices",
        "func": "const assets = {\n    \"TELKOM-LT14\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.107:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-trial\",\n            \"type\": \"cctv\"\n    }, {\n        \"name\": \"3_gang_saklar1\",\n        \"device_id\": \"ebd0abef57e01640fawkqo\",\n        \"dps_id\": 1,\n        \"type\": \"tuya\"\n    }, {\n        \"name\": \"3_gang_saklar2\",\n        \"device_id\": \"ebd0abef57e01640fawkqo\",\n        \"dps_id\": 2,\n        \"type\": \"tuya\"\n    }, {\n        \"name\": \"3_gang_saklar3\",\n        \"device_id\": \"ebd0abef57e01640fawkqo\",\n        \"dps_id\": 3,\n        \"type\": \"tuya\"\n    }, {\n        \"name\": \"smart_plug\",\n        \"device_id\": \"eb824cadc1411b87db2car\",\n        \"dps_id\": 1,\n        \"type\": \"tuya\"\n    }]\n  }\n}\nglobal.set('assets', assets)\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "235638ba06a3410e",
        "type": "inject",
        "z": "ba48b833da555eb5",
        "name": "Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "9a99c6fe54a63b66"
            ]
        ]
    },
    {
        "id": "9a99c6fe54a63b66",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "get class",
        "func": "const assets = global.get(\"assets\");\n\nfor (const [key, value] of Object.entries(assets)) {\n\n    const new_msg = {\n        asset_id: key,\n        asset_value: value,\n        payload: value\n    }\n\n    node.send(new_msg);\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "9dc525ea60a41212",
                "5acd74ece036add3"
            ]
        ]
    },
    {
        "id": "9dc525ea60a41212",
        "type": "debug",
        "z": "ba48b833da555eb5",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "5acd74ece036add3",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "Capture CCTV Req",
        "func": "const api = global.get(\"api\")\nconst rtsp_url = msg.asset_value.cctv\n\n\nmsg.method = \"POST\"\nmsg.url = `${api}/capture-image?rtsp_url=${rtsp_url}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "b6c8444fd35c89d6"
            ]
        ]
    },
    {
        "id": "b6c8444fd35c89d6",
        "type": "http request",
        "z": "ba48b833da555eb5",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "b1d508878ee8afd1"
            ]
        ]
    },
    {
        "id": "3a4c8c6f017d7709",
        "type": "debug",
        "z": "ba48b833da555eb5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1d508878ee8afd1",
        "type": "json",
        "z": "ba48b833da555eb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "bb8c1365b173414a"
            ]
        ]
    },
    {
        "id": "bb8c1365b173414a",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "cek cctv",
        "func": "\n\nif(msg.payload.status == 'ok') {\n\n    //if cctv success capture continue flow\n    return msg;\n} else {\n    const data = {\n        status: false,\n        people: null\n    }\n\n    global.set(`status_cctv-${msg.asset_id}`, data)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 340,
        "wires": [
            [
                "3a4c8c6f017d7709",
                "4f86035583a3b92f"
            ]
        ]
    },
    {
        "id": "18a31b3cfbc013a7",
        "type": "http request",
        "z": "ba48b833da555eb5",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 400,
        "wires": [
            [
                "bbf7181a600459e9"
            ]
        ]
    },
    {
        "id": "4f86035583a3b92f",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "Object Detection Req",
        "func": "const api = global.get(\"api\")\n\nconst img = msg.payload.data\n\nmsg.method = \"POST\"\nmsg.url = `${api}/object-detection?image_path=${img}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "18a31b3cfbc013a7"
            ]
        ]
    },
    {
        "id": "bbf7181a600459e9",
        "type": "json",
        "z": "ba48b833da555eb5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "fb9a97ef490801ae"
            ]
        ]
    },
    {
        "id": "6a2714046d90ec03",
        "type": "comment",
        "z": "ba48b833da555eb5",
        "name": "multiple class",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "fb9a97ef490801ae",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "check people",
        "func": "const p = msg.payload\nconst person = p.data.person\n\n//jika tidak orang lanjutkan proses\nif(person <= 0) {\n    node.status({ fill: \"red\", shape: \"ring\", text: `${person } orang` });\n\n} else {\n    node.status({ fill: \"green\", shape: \"ring\", text: `${person} orang` });\n}\n\n//save status\nconst data = {\n    status: true,\n    people: person\n}\nglobal.set(`status_cctv-${msg.asset_id}`, data)\n\nmsg.payload = person\n\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 400,
        "wires": [
            [
                "57244fe280dc8507",
                "f8d05281c47c1130"
            ]
        ]
    },
    {
        "id": "0367fc02d6a39be9",
        "type": "http request",
        "z": "ba48b833da555eb5",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 520,
        "wires": [
            [
                "d75d789393c5ec50"
            ]
        ]
    },
    {
        "id": "d75d789393c5ec50",
        "type": "debug",
        "z": "ba48b833da555eb5",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 520,
        "wires": []
    },
    {
        "id": "ea6e249b73a22a74",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "off request",
        "func": "const api = global.get(\"api\")\n\nconst devices = msg.asset_value.devices\n\nfor (const device of devices) {\n    const tuya_device_id = device.device_id // device id ambil dari data scan api\n    const dps_id = device.dps_id // dps_id biasanya urutan saklar\n    const value = false //false adalah off\n\n    const new_msg = {\n        asset_id: msg.asset_id,\n        asset_value: msg.asset_value,\n        method: \"POST\",\n        url: `${api}/control?tuya_device_id=${tuya_device_id}&dps_id=${dps_id}&value=${value}`\n    }\n\n    node.send(new_msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "0367fc02d6a39be9",
                "422fc8a25db5c2bd"
            ]
        ]
    },
    {
        "id": "57244fe280dc8507",
        "type": "switch",
        "z": "ba48b833da555eb5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "10e50d82b36c06ed"
            ],
            [
                "ea6e249b73a22a74"
            ]
        ]
    },
    {
        "id": "b61de6d173cc0381",
        "type": "http request",
        "z": "ba48b833da555eb5",
        "d": true,
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "415e500ec807fe51"
            ]
        ]
    },
    {
        "id": "415e500ec807fe51",
        "type": "debug",
        "z": "ba48b833da555eb5",
        "d": true,
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "10e50d82b36c06ed",
        "type": "function",
        "z": "ba48b833da555eb5",
        "d": true,
        "name": "on request",
        "func": "const api = global.get(\"api\")\n\nconst devices = msg.asset_value.devices\n\nfor (const device of devices) {\n    const tuya_device_id = device.device_id // device id ambil dari data scan api\n    const dps_id = device.dps_id // dps_id biasanya urutan saklar\n    const value = true //false adalah off\n\n    const new_msg = {\n        method: \"POST\",\n        url: `${api}/control?tuya_device_id=${tuya_device_id}&dps_id=${dps_id}&value=${value}`\n    }\n\n    node.send(new_msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "b61de6d173cc0381"
            ]
        ]
    },
    {
        "id": "3e7670653d0ce523",
        "type": "inject",
        "z": "ba48b833da555eb5",
        "name": "Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f8d05281c47c1130",
        "type": "debug",
        "z": "ba48b833da555eb5",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 400,
        "wires": []
    },
    {
        "id": "422fc8a25db5c2bd",
        "type": "link out",
        "z": "ba48b833da555eb5",
        "name": "link out activity",
        "mode": "link",
        "links": [
            "891af0a10b876548"
        ],
        "x": 625,
        "y": 620,
        "wires": []
    },
    {
        "id": "e6e1d01c9fc3c64f",
        "type": "function",
        "z": "ba48b833da555eb5",
        "name": "asset - class",
        "func": "const assets = {\n    \"TLKM-BDG-LT14-CLASS01\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.94:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS01\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb55008f73786939e94u7e\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb55008f73786939e94u7e\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb55008f73786939e94u7e\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"ebcbc72bb371d09d2cdmy0\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS02\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.107:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS02\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"ebd0abef57e01640fawkqo\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"ebd0abef57e01640fawkqo\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"ebd0abef57e01640fawkqo\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb824cadc1411b87db2car\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS03\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.101:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS03\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"ebe6a1998afcfd9e40a2fk\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"ebe6a1998afcfd9e40a2fk\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"ebe6a1998afcfd9e40a2fk\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb8d5f0ca53a76c499qi52\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS06\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.103:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS06\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"ebf1e0b1269fc88d5flpag\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"ebf1e0b1269fc88d5flpag\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"ebf1e0b1269fc88d5flpag\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb42afd7bcedb62449aurc\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS07\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.91:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS07\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb764a1adf2beb4ea6oucj\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb764a1adf2beb4ea6oucj\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb764a1adf2beb4ea6oucj\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb2e2d808ac004968ff6mh\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS08\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.90:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS08\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb084156795228b459gae1\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb084156795228b459gae1\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb084156795228b459gae1\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb0f5542b398d03fb2e45a\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS14\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.98:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS14\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb76d912b190c5f8b2y0qf\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb76d912b190c5f8b2y0qf\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb76d912b190c5f8b2y0qf\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb0179b2095ab63bea9nfj\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS15\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.100:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS15\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb6d60854b25aabbf3yxxs\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb6d60854b25aabbf3yxxs\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb6d60854b25aabbf3yxxs\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb246ae48981b4e79ebwzf\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS16\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.102:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS16\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eba3f29281b5cdf42dn0vg\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eba3f29281b5cdf42dn0vg\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eba3f29281b5cdf42dn0vg\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb32b70c1c3eb77de3jsxh\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    }\n    // \"TLKM-BDG-LT14-CLASS10\": {\n    //     \"cctv\": \"\",\n    //     \"devices\": [{\n    //         \"name\": \"cctv\",\n    //         \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS10\",\n    //         \"type\": \"cctv\"\n    //     }, {\n    //         \"name\": \"3_gang_saklar1\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 1,\n    //         \"type\": \"tuya\"\n    //     }, {\n    //         \"name\": \"3_gang_saklar2\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 2,\n    //         \"type\": \"tuya\"\n    //     }, {\n    //         \"name\": \"3_gang_saklar3\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 3,\n    //         \"type\": \"tuya\"\n    //     }, {\n    //         \"name\": \"smart_plug\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 1,\n    //         \"type\": \"tuya\"\n        // }]\n    // }\n}\nglobal.set('assets', assets)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0d6584b0ed1f4617",
        "type": "inject",
        "z": "cd8839faa474af1e",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "345f84152e6ec992",
                "b998fd7c1c2816ba"
            ]
        ]
    },
    {
        "id": "345f84152e6ec992",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "config",
        "func": "const api = \"http://localhost:8000\"\nconst company_id = \"TELKOM\"\nconst image_path = \"/home/pooling/Developer/localtuya/images\"\n\n// const rtsp_url = '0' //webcam\n// const rtsp_url = 'rtsp://admin:pahlawan10@192.168.2.243:554/Streaming/channels/101' //webcam\n// const rtsp_url = 'rtsp://admin:pahlawan10@192.168.3.11:554/Streaming/Channels/101' //imo\n// const rtsp_url = 'rtsp://admin:PZSYCL@192.168.3.242:554/Streaming/Channels/101' //ezviz\n\nglobal.set(\"api\", api)\nglobal.set(\"company_id\", company_id)\nglobal.set(\"image_path\", image_path)\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"initiated\"});\n\nreturn msg;\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "47a2b9a76e1e1342",
        "type": "function",
        "z": "cd8839faa474af1e",
        "d": true,
        "name": "class - devices",
        "func": "const assets = {\n    \"TELKOM-LT14\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.107:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-trial\",\n            \"type\": \"cctv\"\n    }, {\n        \"name\": \"3_gang_saklar1\",\n        \"device_id\": \"ebd0abef57e01640fawkqo\",\n        \"dps_id\": 1,\n        \"type\": \"tuya\"\n    }, {\n        \"name\": \"3_gang_saklar2\",\n        \"device_id\": \"ebd0abef57e01640fawkqo\",\n        \"dps_id\": 2,\n        \"type\": \"tuya\"\n    }, {\n        \"name\": \"3_gang_saklar3\",\n        \"device_id\": \"ebd0abef57e01640fawkqo\",\n        \"dps_id\": 3,\n        \"type\": \"tuya\"\n    }, {\n        \"name\": \"smart_plug\",\n        \"device_id\": \"eb824cadc1411b87db2car\",\n        \"dps_id\": 1,\n        \"type\": \"tuya\"\n    }]\n  }\n}\nglobal.set('assets', assets)\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "57176939a727b874",
        "type": "inject",
        "z": "cd8839faa474af1e",
        "name": "Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "46b1325d8ed86987"
            ]
        ]
    },
    {
        "id": "46b1325d8ed86987",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "get class",
        "func": "const assets = global.get(\"assets\");\n\nfor (const [key, value] of Object.entries(assets)) {\n\n    const new_msg = {\n        asset_id: key,\n        asset_value: value,\n        payload: value\n    }\n\n    node.send(new_msg);\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "089218e028185fd4",
                "7d74677b731e655c"
            ]
        ]
    },
    {
        "id": "089218e028185fd4",
        "type": "debug",
        "z": "cd8839faa474af1e",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "7d74677b731e655c",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "Capture CCTV cmd",
        "func": "const api = global.get(\"api\")\nconst rtsp_url = msg.asset_value.cctv\nconst path = global.get(\"image_path\")\nconst filename = `${new Date().getTime()}_${msg.asset_id}.jpg`\n\nmsg.payload = `ffmpeg -y -i '${rtsp_url}' -vframes 1 ${path}/${filename}`\n\nmsg.filename = filename \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "d69c2c468d6ce5f1"
            ]
        ]
    },
    {
        "id": "ef37482b414e7de9",
        "type": "debug",
        "z": "cd8839faa474af1e",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec8452db9b18dbbd",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "cek cctv",
        "func": "\n\n//if cctv success capture continue flow\nif(msg.payload.code === 0) {\n    msg.payload = {\n        data: msg.filename\n    }\n    \n    return msg;\n\n} else {\n\n    const data = {\n        status: false,\n        people: null\n    }\n\n    global.set(`status_cctv-${msg.asset_id}`, data)\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 320,
        "wires": [
            [
                "ef37482b414e7de9",
                "3c26fc80b3e388c5"
            ]
        ]
    },
    {
        "id": "913a75c0362616a7",
        "type": "http request",
        "z": "cd8839faa474af1e",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "c7495d98c59cc57c"
            ]
        ]
    },
    {
        "id": "3c26fc80b3e388c5",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "Object Detection Req",
        "func": "const api = global.get(\"api\")\n\nconst img = msg.payload.data\n\nmsg.method = \"POST\"\nmsg.url = `${api}/object-detection?image_path=${img}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "913a75c0362616a7"
            ]
        ]
    },
    {
        "id": "c7495d98c59cc57c",
        "type": "json",
        "z": "cd8839faa474af1e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "a5b24a5df8be5687"
            ]
        ]
    },
    {
        "id": "ceb33fb167ed8308",
        "type": "comment",
        "z": "cd8839faa474af1e",
        "name": "multiple class",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "a5b24a5df8be5687",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "check people",
        "func": "const p = msg.payload\nconst person = p.data.person\n\n//jika tidak orang lanjutkan proses\nif(person <= 0) {\n    node.status({ fill: \"red\", shape: \"ring\", text: `${person } orang` });\n\n} else {\n    node.status({ fill: \"green\", shape: \"ring\", text: `${person} orang` });\n}\n\n//save status\nconst data = {\n    status: true,\n    people: person\n}\nglobal.set(`status_cctv-${msg.asset_id}`, data)\n\nmsg.payload = person\n\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 420,
        "wires": [
            [
                "9c01226a4c73ffbf",
                "5fe537ab4877f42e"
            ]
        ]
    },
    {
        "id": "c5a3184a5d79198b",
        "type": "http request",
        "z": "cd8839faa474af1e",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "7e69de5422a6043d"
            ]
        ]
    },
    {
        "id": "7e69de5422a6043d",
        "type": "debug",
        "z": "cd8839faa474af1e",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "465908ef7316b212",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "off request",
        "func": "const api = global.get(\"api\")\n\nconst devices = msg.asset_value.devices\n\nfor (const device of devices) {\n    const tuya_device_id = device.device_id // device id ambil dari data scan api\n    const dps_id = device.dps_id // dps_id biasanya urutan saklar\n    const value = false //false adalah off\n\n    const new_msg = {\n        asset_id: msg.asset_id,\n        asset_value: msg.asset_value,\n        method: \"POST\",\n        url: `${api}/control?tuya_device_id=${tuya_device_id}&dps_id=${dps_id}&value=${value}`\n    }\n\n    node.send(new_msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "c5a3184a5d79198b",
                "889bd650739aad24"
            ]
        ]
    },
    {
        "id": "9c01226a4c73ffbf",
        "type": "switch",
        "z": "cd8839faa474af1e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "dc61347c3f588ec5"
            ],
            [
                "465908ef7316b212"
            ]
        ]
    },
    {
        "id": "fbbd3736b144bc90",
        "type": "http request",
        "z": "cd8839faa474af1e",
        "d": true,
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 500,
        "wires": [
            [
                "74369167b4ab04fa"
            ]
        ]
    },
    {
        "id": "74369167b4ab04fa",
        "type": "debug",
        "z": "cd8839faa474af1e",
        "d": true,
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc61347c3f588ec5",
        "type": "function",
        "z": "cd8839faa474af1e",
        "d": true,
        "name": "on request",
        "func": "const api = global.get(\"api\")\n\nconst devices = msg.asset_value.devices\n\nfor (const device of devices) {\n    const tuya_device_id = device.device_id // device id ambil dari data scan api\n    const dps_id = device.dps_id // dps_id biasanya urutan saklar\n    const value = true //false adalah off\n\n    const new_msg = {\n        method: \"POST\",\n        url: `${api}/control?tuya_device_id=${tuya_device_id}&dps_id=${dps_id}&value=${value}`\n    }\n\n    node.send(new_msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "fbbd3736b144bc90"
            ]
        ]
    },
    {
        "id": "5fe537ab4877f42e",
        "type": "debug",
        "z": "cd8839faa474af1e",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "889bd650739aad24",
        "type": "link out",
        "z": "cd8839faa474af1e",
        "name": "link out activity",
        "mode": "link",
        "links": [
            "891af0a10b876548"
        ],
        "x": 585,
        "y": 640,
        "wires": []
    },
    {
        "id": "b998fd7c1c2816ba",
        "type": "function",
        "z": "cd8839faa474af1e",
        "name": "asset - class",
        "func": "const assets = {\n    \"TLKM-BDG-LT14-CLASS01\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.94:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS01\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb55008f73786939e94u7e\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb55008f73786939e94u7e\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb55008f73786939e94u7e\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"ebcbc72bb371d09d2cdmy0\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS02\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.107:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS02\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"ebd0abef57e01640fawkqo\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"ebd0abef57e01640fawkqo\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"ebd0abef57e01640fawkqo\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb824cadc1411b87db2car\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS03\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.101:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS03\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"ebe6a1998afcfd9e40a2fk\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"ebe6a1998afcfd9e40a2fk\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"ebe6a1998afcfd9e40a2fk\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb8d5f0ca53a76c499qi52\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS06\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.103:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS06\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"ebf1e0b1269fc88d5flpag\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"ebf1e0b1269fc88d5flpag\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"ebf1e0b1269fc88d5flpag\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb42afd7bcedb62449aurc\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS07\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.91:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS07\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb764a1adf2beb4ea6oucj\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb764a1adf2beb4ea6oucj\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb764a1adf2beb4ea6oucj\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb2e2d808ac004968ff6mh\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS08\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.90:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS08\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb084156795228b459gae1\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb084156795228b459gae1\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb084156795228b459gae1\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb0f5542b398d03fb2e45a\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS14\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.98:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS14\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb76d912b190c5f8b2y0qf\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb76d912b190c5f8b2y0qf\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb76d912b190c5f8b2y0qf\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb0179b2095ab63bea9nfj\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS15\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.100:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS15\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eb6d60854b25aabbf3yxxs\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eb6d60854b25aabbf3yxxs\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eb6d60854b25aabbf3yxxs\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb246ae48981b4e79ebwzf\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    },\n    \"TLKM-BDG-LT14-CLASS16\": {\n        \"cctv\": \"rtsp://admin:Admin123$@172.18.4.102:554/profile1/media.smp\",\n        \"devices\": [{\n            \"name\": \"cctv\",\n            \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS16\",\n            \"type\": \"cctv\"\n        }, {\n            \"name\": \"3_gang_saklar1\",\n            \"device_id\": \"eba3f29281b5cdf42dn0vg\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar2\",\n            \"device_id\": \"eba3f29281b5cdf42dn0vg\",\n            \"dps_id\": 2,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"3_gang_saklar3\",\n            \"device_id\": \"eba3f29281b5cdf42dn0vg\",\n            \"dps_id\": 3,\n            \"type\": \"tuya\"\n        }, {\n            \"name\": \"smart_plug\",\n            \"device_id\": \"eb32b70c1c3eb77de3jsxh\",\n            \"dps_id\": 1,\n            \"type\": \"tuya\"\n        }]\n    }\n    // \"TLKM-BDG-LT14-CLASS10\": {\n    //     \"cctv\": \"\",\n    //     \"devices\": [{\n    //         \"name\": \"cctv\",\n    //         \"device_id\": \"cctv-TLKM-BDG-LT14-CLASS10\",\n    //         \"type\": \"cctv\"\n    //     }, {\n    //         \"name\": \"3_gang_saklar1\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 1,\n    //         \"type\": \"tuya\"\n    //     }, {\n    //         \"name\": \"3_gang_saklar2\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 2,\n    //         \"type\": \"tuya\"\n    //     }, {\n    //         \"name\": \"3_gang_saklar3\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 3,\n    //         \"type\": \"tuya\"\n    //     }, {\n    //         \"name\": \"smart_plug\",\n    //         \"device_id\": \"\",\n    //         \"dps_id\": 1,\n    //         \"type\": \"tuya\"\n        // }]\n    // }\n}\nglobal.set('assets', assets)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d69c2c468d6ce5f1",
        "type": "exec",
        "z": "cd8839faa474af1e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ffmpeg",
        "x": 590,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "ec8452db9b18dbbd"
            ]
        ]
    },
    {
        "id": "e6f736306905dc37",
        "type": "inject",
        "z": "7371f30989a437f1",
        "name": "Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "112bd9158199ef65"
            ]
        ]
    },
    {
        "id": "112bd9158199ef65",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "get class",
        "func": "const assets = global.get(\"assets\");\n\nfor (const [key, value] of Object.entries(assets)) {\n\n    const new_msg = {\n        asset_id: key,\n        asset_value: value,\n        payload: value\n    }\n\n    node.send(new_msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "66fd16a10344c52c"
            ]
        ]
    },
    {
        "id": "66fd16a10344c52c",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "get devices",
        "func": "const p = msg.payload\nconst devices = p.devices\nconst real_devices = {}\n\nfor (const x of devices) {\n\n    //skip cctv device\n    if (x.type && x.type == 'cctv') {\n        continue\n    }\n\n    if (real_devices[x.device_id] == undefined) {\n        real_devices[x.device_id] = []\n    }\n\n    real_devices[x.device_id].push(x)\n\n}\n\nfor (const [key, value] of Object.entries(real_devices)) {\n\n    const new_msg = {\n        asset_id: msg.asset_id,\n        asset_value: msg.asset_value,\n        tuya_device_id: key,\n        payload: value\n    }\n\n    node.send(new_msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "9815b045e62d3d5d"
            ]
        ]
    },
    {
        "id": "7cb7e82b6d984693",
        "type": "http request",
        "z": "7371f30989a437f1",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "f5c7c29f0dbbd008"
            ]
        ]
    },
    {
        "id": "9815b045e62d3d5d",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "Get status",
        "func": "const api = global.get(\"api\")\nconst tuya_device_id = msg.tuya_device_id\n\nmsg.method = \"POST\"\nmsg.url = `${api}/status?tuya_device_id=${tuya_device_id}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "7cb7e82b6d984693"
            ]
        ]
    },
    {
        "id": "f5c7c29f0dbbd008",
        "type": "json",
        "z": "7371f30989a437f1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "e2da5ceca7547940"
            ]
        ]
    },
    {
        "id": "e2da5ceca7547940",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "Save Status",
        "func": "\nconst p = msg.payload\nconst path = `status_${msg.tuya_device_id}`\n\nglobal.set(path, p.data)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "7f1543d0c23a289d"
            ]
        ]
    },
    {
        "id": "d0bd6650a41ee7f9",
        "type": "inject",
        "z": "7371f30989a437f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "59e52ddb98e1b81f"
            ]
        ]
    },
    {
        "id": "59e52ddb98e1b81f",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "cek memory",
        "func": "const data = global.keys()\n\nnode.warn(data)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9f76c2bb7ff0faf5",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "Send Broker",
        "func": "const p = msg.payload\nconst company_id = global.get('company_id')\n\nmsg.topic = `/${company_id}/${msg.asset_id}`\nmsg.payload = p\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "c6f72049cc248ccd"
            ]
        ]
    },
    {
        "id": "c6f72049cc248ccd",
        "type": "mqtt out",
        "z": "7371f30989a437f1",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5547b35163de4760",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "7f1543d0c23a289d",
        "type": "debug",
        "z": "7371f30989a437f1",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "d23dd3375f57be6e",
        "type": "inject",
        "z": "7371f30989a437f1",
        "name": "Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "1eb85668922a1e1f"
            ]
        ]
    },
    {
        "id": "1eb85668922a1e1f",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "get class",
        "func": "const assets = global.get(\"assets\");\n\nfor (const [key, value] of Object.entries(assets)) {\n\n    const new_msg = {\n        asset_id: key,\n        asset_value: value,\n        payload: value\n    }\n\n    node.send(new_msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 520,
        "wires": [
            [
                "ef7ebadf9a23778e"
            ]
        ]
    },
    {
        "id": "ef7ebadf9a23778e",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "get data",
        "func": "const p = msg.payload\nconst devices = p.devices\n\nconst asset_data = {\n    iddevice: msg.asset_id,\n    field_timestamp: new Date(),\n    data: {}\n}\n\nfor (const x of devices) {\n    \n    const get_state = global.get(`status_${x.device_id}`)\n\n    if(get_state) {\n        if(x.type == 'tuya') {\n            asset_data.data[x.name] = get_state.dps[x.dps_id]\n        } else if (x.type == 'cctv') {\n            // node.warn('cctv')\n            // node.warn(get_state)\n            asset_data.data[`${x.name}_status`] = get_state.status\n            asset_data.data[`${x.name}_people`] = get_state.people\n        }\n    }\n\n}\n\nmsg.payload = asset_data\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "9f76c2bb7ff0faf5"
            ]
        ]
    },
    {
        "id": "a03d25e1729c74d8",
        "type": "mqtt in",
        "z": "7371f30989a437f1",
        "name": "",
        "topic": "/control/TELKOM/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5547b35163de4760",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a9a216e5f90d5584",
                "cf4d50c803a03a49"
            ]
        ]
    },
    {
        "id": "46a53a9d6dacd9bd",
        "type": "debug",
        "z": "7371f30989a437f1",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "a9a216e5f90d5584",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "get data",
        "func": "const assets = global.get(\"assets\");\n\nconst idtenant = msg.topic.split('/')[2]\nconst iddevice = msg.topic.split('/')[3]\nconst attribute = msg.payload.attribute\nconst value = msg.payload.data\n\nfor (const x of assets[iddevice].devices) {\n    if(x.name === attribute) {\n        msg.payload = {\n            tuya_device_id: x.device_id,\n            dps_id: x.dps_id,\n            value: value\n        }\n\n        return msg;        \n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "e0557a5ef7514f46"
            ]
        ]
    },
    {
        "id": "e0557a5ef7514f46",
        "type": "function",
        "z": "7371f30989a437f1",
        "name": "control",
        "func": "const api = global.get(\"api\")\n\nconst tuya_device_id = msg.payload.tuya_device_id // device id ambil dari data scan api\nconst dps_id = msg.payload.dps_id // dps_id biasanya urutan saklar\nconst value = msg.payload.value //false adalah off\n\nmsg.method = \"POST\"\nmsg.url = `${api}/control?tuya_device_id=${tuya_device_id}&dps_id=${dps_id}&value=${value}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "faded2fce07edae6"
            ]
        ]
    },
    {
        "id": "faded2fce07edae6",
        "type": "http request",
        "z": "7371f30989a437f1",
        "name": "Req",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 140,
        "wires": [
            [
                "46a53a9d6dacd9bd"
            ]
        ]
    },
    {
        "id": "e051073c2f58fc1e",
        "type": "comment",
        "z": "7371f30989a437f1",
        "name": "Handling Control",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "157652d26962d115",
        "type": "comment",
        "z": "7371f30989a437f1",
        "name": "Get Status",
        "info": "",
        "x": 160,
        "y": 240,
        "wires": []
    },
    {
        "id": "8df69a27b83b0937",
        "type": "comment",
        "z": "7371f30989a437f1",
        "name": "Send Status",
        "info": "",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "afb8dc5b2f0d632f",
        "type": "comment",
        "z": "7371f30989a437f1",
        "name": "debug",
        "info": "",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "cf4d50c803a03a49",
        "type": "debug",
        "z": "7371f30989a437f1",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "611d21436be7ab6f",
        "type": "inject",
        "z": "05ab146697317e78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "496f3a4dd2f9e5aa"
            ]
        ]
    },
    {
        "id": "496f3a4dd2f9e5aa",
        "type": "exec",
        "z": "05ab146697317e78",
        "command": "rm /home/pooling/Developer/localtuya/images/*.jpg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "03b6892a035dea17",
        "type": "inject",
        "z": "05ab146697317e78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "e275f4774df51408"
            ]
        ]
    },
    {
        "id": "e275f4774df51408",
        "type": "exec",
        "z": "05ab146697317e78",
        "command": "df -h",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "8cc96671d4631328"
            ],
            [
                "8cc96671d4631328"
            ],
            [
                "8cc96671d4631328"
            ]
        ]
    },
    {
        "id": "8cc96671d4631328",
        "type": "debug",
        "z": "05ab146697317e78",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "f2b2d3b2aee10e62",
        "type": "inject",
        "z": "05ab146697317e78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "1d7036b0da88d29f"
            ]
        ]
    },
    {
        "id": "1d7036b0da88d29f",
        "type": "exec",
        "z": "05ab146697317e78",
        "command": "ffmpeg -y -i 'rtsp://admin:Admin123$@172.18.4.1:554/profile1/media.smp' -vframes 1 tes2.jpg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ffmpeg",
        "x": 350,
        "y": 480,
        "wires": [
            [],
            [],
            [
                "541e7f51728955f8"
            ]
        ]
    },
    {
        "id": "541e7f51728955f8",
        "type": "debug",
        "z": "05ab146697317e78",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 500,
        "wires": []
    },
    {
        "id": "a249a21d9a31814e",
        "type": "inject",
        "z": "05ab146697317e78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "398697af10a58653"
            ]
        ]
    },
    {
        "id": "398697af10a58653",
        "type": "exec",
        "z": "05ab146697317e78",
        "command": "ffmpeg -y -i 'rtsp://admin:Admin123$@162.18.4.98:554/profile1/media.smp' -vframes 1 tes3.jpg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 580,
        "wires": [
            [],
            [],
            [
                "a4b7fd2df92a68fa"
            ]
        ]
    },
    {
        "id": "a4b7fd2df92a68fa",
        "type": "debug",
        "z": "05ab146697317e78",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 600,
        "wires": []
    }
]